html{
 scroll-behavior: smooth;
}

/* Scrollbar كامل */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* الخلفية */
::-webkit-scrollbar-track {
  background: #703310;
}

/* لون السحب */
::-webkit-scrollbar-thumb {
  background: #5c2608; /* نفس لون amber-600 تقريبًا */
  border-radius: 8px;
}